<h2>Artist Name: <%= @artist.name %></h2>

<h3>Atists</h3>


<% if @artists.any? %>
  <ul>
    <% @artists.each do |artist| %>
      <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p> there is no artist to show </p>
<% end %>

<h4>Add a song:</h4>

<form action="/artists/<%= @artist.name %>" method="post">
  <div class="form-group">
    <label for="artist_name">artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add artist</button>
</form>

<p><a href="/albums/<%= @artist.id %>/edit">Edit artist</a></p>
<p><a href="/albums">Return to albums list</a></p>
<p><a href="/artists">Return to artists list</a></p>.
